@import "tailwindcss";
@import "tw-animate-css";
@import "./tokens.css";

body {
  font-family: var(--font-text);
  background: var(--color-white);
  color: var(--color-black);
}

html,
body,
#root {
  height: 100%;
}
